@import '@economist/component-win-navigation';
@import '@economist/component-palette';
@import '@economist/component-grid';
@import 'sticky';

.world-in-header,
.world-in-header__inner-wrapper,
.world-in-header__hamburger-placeholder {
  background-color: var(--color-economist);
}

.world-in-header {
  display: block;
  width: 100%;
}

.world-in-header__navigation-inner-wrapper {
  position: relative;
}

.world-in-header__main-bar {
  display: table-cell;
  width: 100%;
  border-right: 0 none;
}

.world-in-header__navigation {
  width: 100%;
}

.world-in-header__logo {
  display: none;
}

.world-in-header__main-bar {
  width: 100%;
  border-bottom: solid 1px var(--color-thimphu);
  box-sizing: border-box;
  display: table;
}

.world-in-header__main-bar use {
  fill: var(--color-thimphu);
}

.world-in-header__main-bar__navigation-inner-wrapper {
  display: table-row;
}

.world-in-header__economist-logo,
.world-in-header__main-bar__spacer,
.world-in-header__home-icon,
.world-in-header__sharebar,
.world-in-header__hamburger-placeholder {
  display: table-cell;
}

.world-in-header__main-bar__spacer {
  width: 100%;
}

.world-in-header__economist-logo {
  border-right: solid 1px var(--color-thimphu);
  background-color: var(--color-beijing);
}

.world-in-header__home-icon {
  border-right: solid 1px var(--color-thimphu);
  border-left: solid 1px var(--color-thimphu);
}

.world-in-header__economist-logo,
.world-in-header__home-icon,
.world-in-header__sharebar,
.world-in-header__hamburger-placeholder {
  width: 49px;
  height: 49px;
  min-width: 49px;
  line-height: 0;
}

.world-in-header__economist-logo,
.world-in-header__home-icon,
.world-in-header__hamburger-placeholder {
  vertical-align: middle;
  text-align: center;
}

.world-in-header__home-logo-link,
.world-in-header__economist-logo-link {
  display: inline-block;
  line-height: 0;
}

.Icon-close,
.Icon-hamburger {
  padding: 0;
}

.navigation {
  border-bottom: none;
  margin-top: 0;
}

.navigation__menu-button:hover {
  background: none;
}

.world-in-header .toggle-display[data-display="open"] .toggle-display__button {
  height: 52px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
}

.world-in-header .toggle-display[data-display="open"] .toggle-display__content {
  border-top: solid 1px var(--color-thimphu);
}

@media (width >= 640px) {
  .world-in-header__home-icon,
  .world-in-header__hamburger-placeholder {
    display: none;
  }

  .world-in-header__main-bar {
    border-right: solid 1px var(--color-thimphu);
  }

  .world-in-header__inner-wrapper {
    display: table;
  }

  .world-in-header__navigation,
  .world-in-header__logo {
    display: table-cell;
  }

  .world-in-header__logo {
    padding: 0.8rem;
    vertical-align: middle;
  }

  .world-in-header__logo img {
    width: 5pc;
  }

  .world-in-header__main-bar {
    background-color: var(--color-beijing);
  }

  .world-in-header .toggle-display[data-display="open"] .toggle-display__button {
    position: static;
    height: 49px;
  }

  .world-in-header .toggle-display[data-display="open"] .toggle-display__content {
    border-top: 0 none;
  }
}

@media (width >= 780px) {
  .world-in-header__logo {
    padding: 0 0.8rem;
  }

  .world-in-header__logo img {
    width: 120px;
  }
}
