@import '@economist/component-font-neutra2';
@import '@economist/component-font-officina';
@import '@economist/component-404';
@import '@economist/component-win-articlepage';

.world-in-app {
  max-width: 1190px;
  margin: 67px auto 0;
  position: relative;
  width: 100%;
}

.world-in-header {
  max-width: 1190px;
  width: 100%;
  position: fixed;
  top: 0;
  left: calc(50% - 595px) !important;
  transform: translate3d(0, 0, 0);
  will-change: transform;
  z-index: 9999999999;
}

.world-in-header__logo {
  float: right;
  height: 100%;
}

.world-in-header__logo-title {
  font-family: Neutra2Display-Titling;
  display: inline-block;
  font-size: 37px;
  color: white;
  padding: 5px 10px;
  margin: 0;
  vertical-align: top;
  text-transform: uppercase;
  line-height: 62px;
}

@media (max-width: 1190px) {
  .world-in-app__header {
    left: 0 !important;
  }
}

@media (max-width: 680px) {
  .world-in-app {
    margin: 50px auto 0;
  }

  .world-in-header__logo-title {
    font-size: 28px;
    line-height: 44px;
  }

}

@media (max-width: 540px) {
  .world-in-app {
    margin: 46px auto 0;
  }

  .world-in-header__logo-title {
    font-size:  16px;
    line-height: 36px;
  }
}


@media (max-width: 400px) {
  .world-in-header__logo-title {
    font-size:  13px;
  }
}

@media (max-width: 318px) {
  .world-in-header__logo-title {
    display: none;
  }
}
