@import '@economist/component-font-neutra2';
@import '@economist/component-icon';
@import '@economist/component-articletemplate';
@import '@economist/component-404';

.world-in-App {
  max-width: 1190px;
  margin: 67px auto 0;
  position: relative;
  width: 100%;
}

.world-in-App .Masthead,
.world-in-App--header {
  max-width: 1190px;
  width: 100%;
  position: fixed;
  top: 0;
  left: calc(50% - 595px) !important;
  transform: translate3d(0, 0, 0);
  will-change: transform;
  z-index: 9999999999;
}

.world-in-App--header.sticky {
  margin-top: 0;
}

.world-in-App .Masthead--container > * {
  display: inline-block;
  -webkit-font-smoothing: antialiased;
}

.world-in-App .Masthead--container {
  height: 100%;
}

.world-in-App--header-logo-title {
  font-family: Neutra2Display-Titling;
  display: inline-block;
  font-size: 37px;
  color: white;
  padding: 5px 10px;
  margin: 0;
  vertical-align: top;
  text-transform: uppercase;
  line-height: 62px;
}

.world-in-App .Masthead {
  height: 67px;
}

.world-in-App .Masthead--logo {
  width: 80px;
  height: 100%;
  border-right: 1px solid #929ca2;
  position: relative;
}

.world-in-App .Masthead--logo:hover {
  background: black;
  cursor: pointer;
}

.world-in-App .Masthead .Masthead--logo .Icon-economist-small {
  height: 26px !important;
  width: 26px !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
}

.world-in-App .Icon-home {
  width: 67px;
  height: 67px;
  background-color: #38A8E0 !important;
}

.world-in-App .world-in-App--header-logo {
  float: right;
  height: 100%;
}

@media (max-width: 1190px) {
  .world-in-App .Masthead,
  .world-in-App--header {
    left: 0 !important;
  }
}

@media (max-width: 680px) {
  .world-in-App {
    margin: 50px auto 0;
  }

  .world-in-App--header-logo-title {
    font-size: 28px;
    line-height: 44px;
  }

  .world-in-App .Masthead {
    height: 50px;
  }

  .world-in-App .Masthead .Masthead--logo {
    width: 50px;
  }

}

@media (max-width: 540px) {
  .world-in-App {
    margin: 46px auto 0;
  }

  .world-in-App--header-logo-title {
    font-size:  16px;
    line-height: 36px;
  }

  .world-in-App .Masthead {
    height: 46px;
  }

  .world-in-App .Masthead .Masthead--logo {
    width: 46px;
  }

  .world-in-App .Masthead .Masthead--logo .Icon-economist-small {
    height: 16px !important;
    width: 16px !important;
  }
}


@media (max-width: 400px) {
  .world-in-App--header-logo-title {
    font-size:  13px;
  }
}

@media (max-width: 318px) {
  .world-in-App--header-logo-title {
    display: none;
  }
}
