@import '@economist/component-font-neutra2';
@import '@economist/component-font-officina';
@import '@economist/component-404';
@import './header';
@import './footer';
:root {
  --fontfamily-body-custom: 'Officina';
  --fontfamily-display-custom: 'Neutra2';
}
@import './cookie';
@import './loader';
@import '@economist/component-win-articlepage';
@import '@economist/component-win-homepage';
@import '@economist/component-win-sharebar';
@import '@economist/component-win-cover';

.world-in-app {
  max-width: 1190px;
  margin: 0 auto 0;
  position: relative;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

.world-in-header__logo-title {
  font-family: Neutra2Display-Titling;
  display: inline-block;
  font-size: 37px;
  color: white;
  padding: 5px 10px;
  margin: 0;
  vertical-align: top;
  text-transform: uppercase;
  line-height: 62px;
}

@media (max-width: 1190px) {
  .world-in-app__header {
    left: 0 !important;
  }
}

@media (max-width: 680px) {
  .world-in-header__logo-title {
    font-size: 28px;
    line-height: 44px;
  }
}

@media (max-width: 540px) {
  .world-in-header__logo-title {
    font-size:  16px;
    line-height: 36px;
  }
}


@media (max-width: 400px) {
  .world-in-header__logo-title {
    font-size:  13px;
  }
}

@media (max-width: 318px) {
  .world-in-header__logo-title {
    display: none;
  }
}

.ad-panel__container {
    width: 100%;
    box-sizing: border-box;
    padding: 1% 3% 3% 3% !important;
}

.ad-panel__container--styled .ad-panel__title,
.ad-panel__container--styled .ad-panel__googlead {
  padding: 0;
}

.ArticleTemplate--section p:empty {
   display: none;
}
